@charset "utf-8";
/* CSS Document */

body {
  background-color: lightslategray;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18%;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: #fff;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}