@charset "utf-8";
/* CSS Document */

.box {
  width: 30%;
  margin: 1px;
  padding: 1%;
  display: inline-block;
}
.asia{
	background-color: #448aff;
}
.europe{
	background-color: #fff4a3;
	color: black;
}
.info{
	background-color: tomato;

}
